.friendList {
  /* content: center; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* position: sticky; */
  height: 100vh;
  overflow-y: scroll;
}

.plansList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50vh;
  overflow-y: scroll;
}

.body {
  background-color: #252839 !important;
      }
