
#fixedContainer
{
    background-color:#ddd;
  position: fixed;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 0%;
  margin-left: -100px; /*half the width*/
}

.friendContainer  {
  position: relative;
  min-height: 1px;
  padding-left:  2px;
  padding-right: 2px;
}
